.stepperContainer {
  height: 6px;
  display: flex;
  justify-content: space-evenly;
  background-color: yellow;
  margin-top: 2rem;
}
.stepperWrapper {
  width: 25px;
  height: 25px;
  border: 1px solid orange;
  background-color: white;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -10px;
}
.stepper {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background-color: red;
}
.stepperContent {
  width: max-content;
  height: 40px;
  min-width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -40px;
  left: -50px;
  color: blue;
}
