.modalContainer {
  background-color: aqua;
  width: 27.125rem;
  height: 22.8125rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  //   margin: auto;
}
.modalContent {
  //   margin: auto;
}
.modalIcon {
  width: 25%;
  margin: auto;
  //   align-items: center;
}
.modalMessage {
  color: #57678c;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
  width: 70%;
  margin: auto;
}
.modalExtraContent {
  color: hsla(222, 23%, 45%, 1);
  text-align: center;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 0rem;
  width: 70%;
  margin: auto;
}
