.container {
  border-radius: 0.5rem;
  border: none;
  padding: 1rem 1.5rem;
  position: relative;
}
.modalTitle {
  font-size: 1.5rem;
  color: #2d416f;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 1.5rem;
}
.header {
  display: flex;
  justify-content: space-between;
  color: #2d416f;
  font-weight: 700;
}
.span {
  position: absolute;
  top: 15px;
  right: 15px;
}
.stepperContainer {
  height: 0.1875rem;
  display: flex;
  justify-content: space-evenly;
  background-color: #cdcdcd;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.stepperWrapper {
  width: 40px;
  height: 40px;
  background-color: #4baa79;
  color: white;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -20px;
}
.stepper {
  border-radius: 50%;
}
.stepperContent {
  width: max-content;
  height: 40px;
  min-width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -40px;
  left: -50px;
  color: #818da9;
}
