.container {
  border-radius: 0.5rem;
  border: none;
  padding: 1rem 1.5rem;
  position: relative;
}
.modalTitle {
  font-size: 1.5rem;
  color: #2d416f;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 1.5rem;
}
.header {
  display: flex;
  justify-content: space-between;
  color: #2d416f;
  font-weight: 700;
}
.span {
  position: absolute;
  top: 15px;
  right: 15px;
}
