.formLabel {
  color: #818da9;
  font-size: 0.875rem;
  font-weight: 400;
  outline: none;
}
input,
.radioWrapper {
  border: 1px solid #e5e5e5;
  padding: 1.2rem;
  margin-top: 0.5rem;
  border-radius: 0.25rem;
  outline: none;
  width: 90%;
  margin-bottom: 1.5rem;
}
.descriptionText {
  height: 5rem;
  outline: none;
  width: 100%;
  margin-top: 0.5rem;
  border: 1px solid #e5e5e5;
  margin-bottom: 1.5rem;
}
.selectInput {
  margin-top: 0.5rem;
  width: 100%;
  gap: 2rem;
  border: none;
  > div {
    padding: 8px;

    > div:last-child > span {
      background-color: #ffffff00;
    }
  }
}

.radioWrapper {
  display: flex;
  gap: 2rem;
  padding: 1rem;

  > label {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 0.8rem;
    font-weight: 500;
    color: #2d416f;
    padding: 0;

    > input {
      margin: 0;
      accent-color: green;
    }
  }
}
.radioLabel {
  border: 10px soild orange;
}
.selectTextArea {
  outline: none;
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}
