.formLabel {
  color: #818da9;
  font-size: 0.875rem;
  font-weight: 400;
}
input,
.radioWrapper {
  border: 1px solid #e5e5e5;
  padding: 1rem;
  margin-top: 0.5rem;
  border-radius: 0.25rem;
  outline: none;
  width: 80%;
  margin-bottom: 1.5rem;
}
.descriptionText {
  height: 5rem;
  outline: none;
  width: 100%;
  margin-top: 0.5rem;
  border: 1px solid #e5e5e5;
  margin-bottom: 1.5rem;
  //   padding: 1rem;
}

.selectInput {
  margin-top: 0.5rem;
  width: 90%;
  //   border: 1px solid #e5e5e5;
  //   padding: 3rem;
  > div {
    padding: 8px;

    > div:last-child > span {
      background-color: #ffffff00;
    }
  }
}

.radioWrapper {
  display: flex;
  gap: 2rem;

  // width: 60%;
  // padding: 0;
  // border: 1px soild orange;

  > label {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 0.8rem;
    font-weight: 500;
    color: #2d416f;
    padding: 0;
    // border: 1px soild orange;

    > input {
      margin: 0;
      accent-color: green;
    }

    // > input[type="radio"] {
    //   accent-color: #4baa79;
    // }
  }
}
.radioLabel {
  border: 10px soild orange;
}
.selectTextArea {
  // padding: 1rem;
  outline: none;
  width: 100%;
  // margin-top: 0.5rem;
}
