.contentWrapper {
  background-color: white;
}

.contentContainer {
  background-color: white;
  width: 95%;
  margin-top: 2.75rem;
  margin-left: 2rem;
}
.title {
  font-size: 1.1875rem;
  color: hsla(222, 42%, 31%, 1);
  font-weight: 700;
  padding: 1.5rem;
}
.modalHeader {
  background-color: #f4f6f8;
  padding: 1rem;
  margin: 1rem;
}
.Wrapper {
  display: flex;
  justify-content: space-between;
}
.search {
  display: flex;
  gap: 1rem;
}
.formNextBtn {

  padding: 1rem 7rem;
  border-radius: 0.25rem;
  display: flex;
  justify-content: end;
  margin-top: 1rem;
}
.confirmBtn {
  &#{&} {
    background-color: white;
    color: #c8c8c8;
    border: 1.5px solid #c8c8c8;
    flex: 1 1;
    width: 100%;
  }
}
.deleteBtn {
  &#{&} {
    background-color: #e05453;
    border: none;
    color: white;
    flex: 1 1;
    width: 100%;
  }
}

.fullBtn {
  &#{&} {
    width: 100%;
  }
}

.btnWrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
}
