.contentWrapper {
  background-color: white;
}

.contentContainer {
  background-color: white;
  width: 95%;
  margin-top: 2.75rem;
  margin-left: 2rem;
}
.title {
  font-size: 1.1875rem;
  color: hsla(222, 42%, 31%, 1);
  font-weight: 700;
  padding: 1.5rem;
}
.modalHeader {
  background-color: #f4f6f8;
  padding: 1rem;
  margin: 1rem;
}
.Wrapper {
  display: flex;
  justify-content: space-between;
}
.search {
  display: flex;
  gap: 1rem;
}
.formNextBtn {
  // width: 5rem;
  padding: 1rem 7rem;
  border-radius: 0.25rem;
  display: flex;
  justify-content: end;
  margin-top: 1rem;
}
